/* Styling for administration pages. */

/* Ensure fields which are marked as "required" are correctly highlighted. */
span.form-required {
  color: red;
}

/* Fix a problem where some icons are mahoosive. */
img.file-icon {
  width: auto;
}

// Icon font icons.
.eleganticon {
  font-size: 1.8em;
}

.toggler {
  cursor: pointer;
  display: inline-block;
  //
  padding: 5px;
  margin: 0.125em;
}

// Make sure togglers are moved to the top-right when open in the header.
.toggler-open,
header#navbar #toggle-header-menu.toggler-open,
header#navbar #toggle-header-search.toggler-open {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10001;
}

// Allow elements to be hidden only when JS is available.
html.js .only-visible-with-js,
html.js .only-visible-without-js {
  display: none;
}
